div.dashboard-content { 
    height: 100%;
    padding: 1rem;
    overflow-x: auto;
    margin-left: 210px; margin-top: 49px;

    & header.content-title {
        margin: .5rem 0 0;
        color: var(--color-title);
        font-size: 2rem; font-weight: bolder;        
    }
}