aside.dashboard-sidebar {
    position: fixed;
    top: 0px; left: 0px; bottom: 0px;
    display: flex; flex-direction: column;
    background: var(--color-secondary);
    border-right: 3px solid lightgray;
    color: #fff;
    width: 210px;
    box-sizing: border-box;
    overflow-y: auto;
    z-index: 99;

    & nav {
        margin-top: 35px;

        & ul {
            padding: 0;
            display: flex; flex-direction: column;
            list-style-type: none;

            & li {
                cursor: pointer;
                font-size: 1rem;
                padding: 1rem 2rem;
                font-weight: 500;

                &:hover {
                    background: var(--color-secondary);
                    filter: brightness(1.1);
                }
            }
        }
    }
}
